

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  right: 0;
   }
.overlay.show {
  background-color: var(--modalBg);
  opacity: 1;
  height: 100vh;
}

.meal-modal,
.meal-modal.show,
#hide-info-tab,
#hide-info-tab.hide {
  transition: all 0.6s ease-in-out;
}
.meal-modal.show,
#hide-info-tab.hide,
.meal-list {
  position: absolute;
}

.meal-modal .meal-list {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(30px);
}

.meal-modal.show {
  z-index: 44;
  top: 0;
  height: 100vh;
  width: 100%;
  animation: showModal 1s;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 0;
}

.meal-modal.show .meal-list {
  height: 100%;
  opacity: 1;
}

.meal-modal.hidden {
  animation: hideModal 1.5s;
}
.meal-modal.hidden .meal-list {
  animation: hideList 1.5s;
}

#hide-info-tab {
  animation: unhideParent 1.5s;
}

#hide-info-tab.hide {
  animation: hideParent 1s;
  opacity: 0;
  top: 14%;
  width: 100%;
}

.meal-list {
  bottom: 0;
  left: 0;
  right: 0;
  top: 14%;
}
.meal-list-header {
  background-color: var(--orangeLight);
  border-radius: 20px 20px 0 0;
  height: 87px;
  justify-content: space-between;
}
.meal-list-header h4 {
  color: var(--headText);
  font-size: 20px;
  line-height: 26px;
  margin-left: 2rem;
}

.meal-list-header button {
  background-color: var(--orange);
  border-radius: 0 20px 0 0;
  height: 100%;
  width: 115px;
  padding: 16px;
}
.meal-list-body {
  background-color: var(--actionBtnColor);
  margin: 0;
  padding: 16px;
}

.meal-item {
  margin: 0.2rem 0 1.5rem 0.8rem;
}

.meal-item .large-img {
  height: 0;
  opacity: 0;
  left: 10%;
  overflow: hidden;
  position: absolute;
  margin-top: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.meal-item .large-img.show {
  left: 0;
  opacity: 1;
  height: 100vh;
  margin: auto;
  animation: showLargeImg 1.5s;
  z-index: 1030;
  width: 100vw;
  top: 25px;
  bottom: 25px;
}


.meal-item .large-img.hide {
  animation: hideLargeImg 1.5s;
  height: 0;
  opacity: 0;
  overflow: hidden;
}


.meal-item .desc-img {
  border-radius: 15px;
  height: 60px;
  width: 60px;
  word-break: break-all;
}

.meal-item .meal-desc {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.meal-desc h5,
.meal-desc h6 {
  font-family: "Cerebri Sans Light", sans-serif;
  font-weight: 300;
  line-height: 24px;
  margin-top: 0;
}
.meal-desc h5 {
  font-size: 18px;
  color: var(--footerText);
  margin-bottom: 0.2rem;
}

.meal-desc h6 {
  color: var(--foodDesc);
  font-size: 15px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .meal-modal.show .meal-list{
    width: 50vw;
    margin: auto;
  }
  .meal-item .large-img.show{
    left: 30%;
    height: 50vh;
    top: -100px;
  }
}